<html>
    <body>
	    <H1><%= Restaurant.name %></H1>
	    <hr>
		<% if (Restaurant.photo) { %>
		  <img src="data:image/jpg;base64, <%= Restaurant.photo %>"><br>
	  	<% } %>
	    <p>Borough: <%= Restaurant.borough %></p>
	    <p>Cuisine: <%= Restaurant.cuisine %></p>
	    <p>Street: <%= Restaurant.street %></p>
	    <p>Building: <%= Restaurant.building %></p>
	    <p>Zipcode: <%= Restaurant.zipcode %></p>
		<p>GPS: [<%= Restaurant.coordlon %>, <%= Restaurant.coordlat %>]</p>
		<% if (Restaurant.grades) { %>

			<p>Rating: <%= Restaurant.grades.score %> by(<%= Restaurant.grades.user %>)</p>

		<% } %>
	    <p>Created by: <%= Restaurant.owner %></p>
	    <% if (Restaurant.coord) { %>
	  	<button onclick="window.location.href='/gmap?lat=<%= Restaurant.coordlon%>&lon=<%= Restaurant.coordlat%>&zoom=15'">Map</button>
		<% } %>

		<button onclick="window.location.href='/rate?_id=<%= Restaurant._id %>'">Rate</button>

		<% if (Restaurant.owner == name) { %>
			<button onclick="window.location.href='/edit?_id=<%= Restaurant._id %>'">Edit</button>
		<% } %>
		<% if (Restaurant.owner == name) { %>
		  	<button onclick="window.location.href='/delete?_id=<%= Restaurant._id %>'">Delete</button>
		<% } %>
  	    <button onclick="window.location.href='/read'">Home</button>
    </body>
</html>